# Post renomeado: slug antigo ainda tem backlinks
Redirect 301 /blog/guia-do-gro-e-pgr/ https://fiter.com.br/blog/papel-estrategico-rh-gro-pgr/
Redirect 301 /employee-engagement/ https://fiter.com.br/global/
